.create-idea-popup{
	.new-idea-info{
		.main-content{
			display: block;
			margin: 20px 10px;
			.category-toolbar{
				background-color:red;
				.add-section-button{
					margin-left: 25px;
				}
			}
		}
		.add-category-control{
			.add-category-button{
				height: 30px;
			}
		}
	}
}