.dashboard-content {
    .search-container{
        height: 12rem;
        text-align: left;
        margin-left: 5rem;

    }
    .search-bar {
        display: inline-flex;
    }
    .search-input {
        border-style: solid;
        border-width: 3px;
        border-color: #8ADEDA;
        height: 5rem;
        font-size: 3rem;
        color: white;
        padding-left: 1rem;
        margin-right: 1rem;
    }
    .search-btn-span {
        background-color: #FFFFFF;
        border-color: #8ADEDA;
        border-style: solid;
        border-width: 3px;
        font-size: 2rem;
        color: #8ADEDA;
    }

    .search-result-label {
        height: 3rem;
    }
    .search-result-label-span {
        font-size: 2em;
        color: #8C8C8C;
    }

    .search-tags-div {
        margin-top: 1rem;
    }

    .search-tag {
        font-size: 2em;
        color: #8ADEDA;
        text-decoration: underline;
        font-weight: bold;
        margin-top: 1rem;
        margin-left: 1rem;

    }

    .search-tag:hover{
        .delete-tag {
            background-image: url("../images/circle_close.png");
            background-size: 2rem 2rem;
            height: 2rem;
            width: 2rem;
            display: inline-block;
        }
    }



    .search-result-icon {
        text-align: left;
        margin-left: 5rem;
        background-image: url("../images/nav-search_icon.png");
        background-size: 2rem 2rem;
        height: 2rem;
        width: 2rem;
        display: inline-block;
    }
    .idea-container-div {
        margin-top: 1rem;
        box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.77);
        display: inline-block;
        width: 100%;
        left: 3%;
        position: static;
        border-style: solid;
        border-width: 3px;
        border-color: #8ADEDA;
    }
    .idea-header {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .owner-avatar {
        background-image: url("../images/anh_diep.jpg");
        background-size: 9rem 9rem;
        height: 9rem;
        width: 9rem;
        border-radius: 50%;
        border-style: solid;
        border-width: 3px;
        border-color: #8C8C8C;
    }
    .owner-name {
        margin-top: 1rem;
        margin-left: 1rem;
        position: absolute;
        font-size: 20px;
    }

    .idea-title {
        font-size: 25px;
        font-weight: bold;
        color: rgb(84, 84, 84);
        text-transform: uppercase;
    }
    .idea-light {
        background-image: url("../images/light_icon.png");
        background-size: 10rem 10rem;
        height: 10rem;
        width: 10rem;
        background-position: center center;
        float: right;
        border-radius: 50%;
        background-repeat: no-repeat;
        border-color: white;
        border-width: 3px;
        border-style: solid;
        text-align: center;
        vertical-align: middle;
    }
    .idea-description {
        margin-left: 9rem;
        height: 10rem;
        display: inline-flex;
        position: static;
        margin-bottom: 1rem;
    }
    .description-content {
        height: 10rem;
        width: 80%;
        border-color: #8ADEDA;
        border-width: 3px;
        border-style: solid;
        position: absolute;
        margin-left: 1rem;
        padding: 0rem 1rem 1rem 1rem;
    }
    .thumb-up-btn {
        background-image: url("../images/thumbs-up-.png");
        background-size: 4rem 4rem;
        height: 5rem;
        width: 5rem;
        background-position: center center;
        float: right;
        border-radius: 50%;
        background-repeat: no-repeat;
    }
    .idea-footer {
        display: table;
        text-align: right;
        margin-bottom: 1rem;
    }
    .detail {
        position: absolute;
        border-color: #8ADEDA;
        border-width: 3px;
        border-style: solid;
        padding: 1rem;
        font-weight: bold;
        margin-left: 84%;
    }
    .idea-status {
        height: 5rem;
    }
    .thumb-up {
        position: inherit;
        margin-top: 1rem;
        margin-right: 1rem;
        display: block;
        font-size: 20px;
    }
}