.big-buld-container {
	
	background-image: url("../images/polygonal-idea.png");
	height: 450px;
	background-repeat: no-repeat;
	background-size: contain;
}
.bg-image{
	
	background-image: url("../images/landing-page.png");
	height: auto;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.left{
	margin-left: 5%;
}
.right{

}
.app-name{
	font-size: 25px;

}
.title{
	margin-top: 50px;
}
.buld-img{
	background-image: url("../images/light-puld.png");
	height: auto;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.buld1{
	
}