.big-buld-container {
	height: 450px;
	background-repeat: no-repeat;
	background-size: contain;
}

.big-buld-type-1{
	background-image: url("../images/polygonal-idea-1.png");
}

.big-buld-type-2{
	background-image: url("../images/polygonal-idea-2.png");
}

.big-buld-type-3{
	background-image: url("../images/polygonal-idea-3.png");
}

.big-buld-type-4{
	background-image: url("../images/polygonal-idea-4.png");
}



.bg-image{
	background-image: url("../images/landing-page.png");
	height: auto;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: aria;
}

.left{
	margin-left: 5%;
}
.right{

}
.app-name{
	font-size: 50px;
	color: #268E89;

}
.header-title{
	margin-top: 50px;
}
.buld-img{
	background-image: url("../images/buld.png");
	background-repeat: no-repeat;
}
.buld-img:hover{
	background-image: url("../images/buld-hover.png");
	background-repeat: no-repeat;
}
.buld1{
	height: 500px;
	background-position: 0 -247px;
	background-size: cover;
}
.buld2{
	height: 500px;
	background-position:0 -291px;
	background-size: cover;
}
.buld3{
	height: 600px;
	background-position:0 -128px;
	background-size: cover;

}
.buld-list{
	height: 550px;
	padding-left: 18%;
}
.intro-text{
	font-size: 35px;
	position: absolute;
	top: 316px;
	left: -62px;
	color: #585050;
	line-height: 40px;
}
.button-home{
	height: 50px;
    width: 165px;
    font-size: 20px;
    background-color: #2E7D32;
    border: none;
    border-radius: 40px;
    box-shadow: 25px 25px 12px 0 rgba(0, 0, 0, 0.26);
}
.button-container{
	top: -98px;
    margin-left: 28%;
}
.idea-icon-func{
	background-image: url("../images/lightbulb14.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 70px;
}
.contribute-icon-func{
	background-image: url("../images/contribute.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 70px;
}
.public-icon-func{
	background-image: url("../images/star131.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 70px;
}
.award-icon-func {
	background-image: url("../images/award2.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 70px;
}
.info-home {
	margin: 75px 195px;
}
.func-title{
	margin-bottom: 18px;
	font-size:  30px;
	color: #15ABA4;
	font-weight: bold;
}
.func-content{
	    width: 70%;
    color: gray;
    font-size: 15px;
}
.number-idea{
	font-size: 28px;
	font-weight: bold;
	color: #EF4432;
}
.number-people{
	font-size: 29px;
	font-weight: bold;
	color: #EF4432;
}
