<md-dialog class="dialog-add-category" ng-class="{'have-ckeditor': loginInfo.
      isUpgraded}" aria-label="List dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="title">Add New Category</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-input-container>
      <label>Category name</label>
      <input ng-model="newCategory" type="text">
    </md-input-container>
    <div class="add-sections">
      <h5>Sections:</h5>
      <div class="sections">
        <div class="section" ng-repeat="section in newSections">
          <i class="material-icons" ng-click="removeSection($index)">close</i>
          <!-- <div>{{section}}</div> -->
          <div ng-bind-html="section"></div>
        </div>
      </div>
      <md-input-container flex ng-if="!loginInfo.isUpgraded">
        <label>New section</label>
        <i class="material-icons" ng-click="$parent.addNewSection(newSectionInput)">send</i>
        <input ng-model="$parent.newSectionInput" >
      </md-input-container>
      <textarea id="ckeditor-edit-section" ckeditor="editorOptions" ng-model="$parent.newSectionInput" ng-if="loginInfo.
      isUpgraded"></textarea>
      <md-button class="md-raised md-primary pull-right" ng-click="$parent.addNewSection($parent.newSectionInput)" ng-if="loginInfo.
      isUpgraded">Add Section</md-button>
    </div>
  </md-dialog-content>
  <div class="md-actions">
    <md-button ng-click="closeDialog()" class="md-warn">
      Cancel
    </md-button>
    <md-button ng-click="submit()" class="md-primary">
      OK
    </md-button>
  </div>
</md-dialog>
