<md-dialog class="create-idea-popup" aria-label="Create your idea"  style="width:1200px;height:1450px; ">
  <form>
	  <md-toolbar>
	    <div class="md-toolbar-tools create-idea-toolbar-title">
	      <h2>Create your Idea ...<md-icon md-font-library="material-icons">create</md-icon></h2>
	      <span flex></span>
	      <md-button class="md-icon-button" ng-click="vm.cancel()">
	        <md-icon md-font-library="material-icons">close</md-icon>
	      </md-button>
	    </div>
	  </md-toolbar>
	  <md-dialog-content class="new-idea-info">
		   <md-content layout-padding class="autoScroll">
			
			<div layout="row">
			<md-input-container flex="75">
			  <label>Title</label>
			  <input ng-model="vm.ideaModel.title" type="text">
			</md-input-container>
			<!-- Privacy -->
			<md-select placeholder="Privacy" ng-model="vm.ideaModel.privacy" md-on-open="vm.loadIdeaPrivacyOptions()" style="max-width: 200px;" flex="20">
			    <md-option ng-value="option" ng-repeat="option in vm.privacyIdeaOptions">
			    	<md-icon md-font-library="material-icons">{{option.icon}}</md-icon>
			     	{{option.name}} 
 			 	</md-option>
			</md-select>
			<!-- Privacy -->
			</div>

			<md-input-container>
			  <label>Description</label>
			  <input ng-model="vm.ideaModel.description" type="text">
			</md-input-container>
			
			
			
			<!-- Tags -->
			<md-chips
		        ng-model="vm.ideaModel.labels"
		        placeholder="Enter a tag"
		        delete-button-label="Remove Tag"
		        delete-hint="Press delete to remove tag"
		        secondary-placeholder="+Tags">
		    </md-chips>
		    <!-- Tags -->

		    <md-whiteframe class="md-whiteframe main-content" layout layout-align="center center" ng-repeat="category in vm.ideaModel.categories track by $index">

		    	<md-toolbar class="category-toolbar">
			      <div class="md-toolbar-tools">
			        <h4>
			          <span>{{category.name}}</span>
			        </h4>
			        <span flex></span>
			        <md-button class="md-icon-button add-section-button" aria-label="Favorite" ng-click="vm.addSection($index)">
			          <md-icon md-font-library="material-icons">add</md-icon>
			        </md-button>
			        <md-button class="md-icon-button" aria-label="Favorite" ng-click="vm.deleteCategory($index)">
			          <md-icon md-font-library="material-icons">delete</md-icon>
			        </md-button>
			      </div>
			    </md-toolbar>


			    <md-content class="section-content" ng-repeat="content in vm.ideaModel.categories[$index].sections track by $index" layout="row">
			    	<md-input-container flex="70">
					  <label>Content</label>
					  <input ng-model="vm.ideaModel.categories[$parent.$index].sections[$index].description" type="text">
					</md-input-container>
					<!-- Privacy -->
					<md-select placeholder="Section Privacy" ng-model="vm.ideaModel.categories[$parent.$index].sections[$index].privacy" md-on-open="vm.loadPrivacyOptions()" style="max-width: 200px;" flex="20">
					    <md-option ng-value="option.name" ng-repeat="option in vm.privacyOptions">
					     	<md-icon md-font-library="material-icons">{{option.icon}}</md-icon>
					     	{{option.name}} 
		 			 	</md-option>
					</md-select>
					<!-- Privacy -->

					<md-button class="md-icon-button section-delete-button" aria-label="Favorite" ng-click="vm.deleteSection($parent.$index, $index)" flex="5">
				        <md-icon md-font-library="material-icons">clear</md-icon>
				    </md-button>
				</md-content>
				
			  
			</md-whiteframe>

			<div class="add-category-control" layout="row">
				<md-input-container flex="80">
				  <label>Category Name</label>
				  <input ng-model="vm.newCategoryName" type="text">
				</md-input-container>
				<md-button class="md-raised md-primary add-category-button" ng-click="vm.addCategory(vm.newCategoryName)" flex="15">Add Category</md-button>
				
			</div>
			
			<div class="md-actions buttons-control" layout="row">
			    <span flex></span>
			    <md-button class="md-raised md-warn cancel-button" ng-click="vm.answer('cancel')">Cancel</md-button>
			    <md-button class="md-raised md-primary create-button" ng-click="vm.confirmIdea(vm.ideaModel)">Create</md-button>
			 </div>
			</md-content>
	   </md-dialog-content>
  </form>
</md-dialog>
