<md-card>
  <md-button class="md-primary md-raised" ng-click="vm.createIdea($event)" flex flex-md="40">
    Create new Idea !
  </md-button>
</md-card>

<div class="idea-container-div" style="margin-top: 1rem;">
	<div class="col-xs-12 idea-header">
		<div class="col-xs-2 left-hdr">
			<span class="col-xs-1 owner-avatar"></span>
			<span class="owner-name">Diep The Anh</span>
		</div>
		<span class="col-xs-8 idea-title">This is the IDEA's Title</span>
		<div class="col-xs-2">		
			<div class="idea-light">
			</div>		
		</div>
	</div>
	<div class="idea-description">
		<span class="description-label">The idea is: </span>
		<span class="description-content">this is the description of the idea. anything you want to say about your idea. </span>
	</div>
	<div class="col-xs-12 idea-footer">

		<div class="idea-status">
			<div class="detail">
				<span>... more</span>
			</div>
			<span class="thumb-up">+20</span>
			<input type="button" class="thumb-up-btn">
		</div>
	</div>
</div>
