<md-card class="create-idea-button-theme">
  <md-button class="md-primary md-raised create-idea-button" ng-click="vm.createIdea($event)" flex flex-md="40">
    Create new Idea <md-icon md-font-library="material-icons">create</md-icon>
  </md-button>
</md-card>

<div class="dashboard-content">
	<div class="search-container">
		<div class="search-bar">
			<input type="text" class="search-input" placeholder="What do you looking for?">
			<input type="button" class="search-btn-span" value="Search">
		</div>
		<div class="search-result-label">
			<span class="search-result-icon"></span>
			<span class="search-result-label-span">285 ideas found for related tags: </span>
		</div>
		<div class="search-tags-div">
			<span class="search-tag">#color codes <span class="delete-tag"></span></span>
			<span class="search-tag">#color shit <span class="delete-tag"></span></span>
			<span class="search-tag">#color fuck <span class="delete-tag"></span></span>
			<span class="search-tag">#color damn <span class="delete-tag"></span></span>
		</div>
	</div>
	<md-card ng-repeat="idea in ideaArray" class="idea-container-div" style="margin-top: 1rem;">
		<div class="col-xs-12 idea-header">
			<div class="col-xs-2 left-hdr">
				<span class="col-xs-1 owner-avatar"></span>
				<span class="owner-name">{{idea.ownerName}}</span>
			</div>
			<span class="col-xs-8 idea-title">{{idea.title}}</span>
			<div class="col-xs-2">		
				<div class="idea-light">
				</div>		
			</div>
		</div>
		<div class="idea-description">
			<span class="description-label">The idea is: </span>
			<span class="description-content">{{idea.description}}</span>
		</div>
		<div class="col-xs-12 idea-footer">

			<div class="idea-status">
				<div class="detail">
					<span>... more</span>
					<!-- <span></span> -->
				</div>
				<span class="thumb-up">+{{idea.thumpUp}}</span>
				<input type="button" class="thumb-up-btn">
			</div>
		</div>
	</md-card>
</div>
