<md-card class="create-idea-button-theme">
  <md-button class="md-primary md-raised create-idea-button" ng-click="vm.createIdea($event)" flex flex-md="40">
    Create new Idea ...<md-icon md-font-library="material-icons">create</md-icon>
  </md-button>
</md-card>

<div class="dashboard-content">
	<div class="search-container">
		<div class="search-bar">
			<!-- <input type="text" class="search-input" placeholder="What do you looking for?"> -->
			<md-chips
		        ng-model="vm.searchTags"
		        placeholder="Enter a tag"
		        delete-button-label="Remove Tag"
		        delete-hint="Press delete to remove tag"
		        secondary-placeholder="+Tag"></md-chips>
	        <md-button class="md-raised md-primary" ng-click="vm.searchIdeas()">Search</md-button>
			<span class="search-result-label-span" ng-show="vm.ideas.length > 0"> {{vm.ideas.length}} ideas found</span>
			<span class="search-result-label-span" ng-show="vm.ideas.length == 0"> Sorry, we dont have any idea for related tags</span>
		</div>
		<!-- <div class="search-result-label">
		</div> -->
		<div>
			Common Labels:
		</div>
		<div class="list-label">
	        <span class="label" ng-repeat="label in vm.suggestLabels">{{label}}</span>
		</div>
	</div>
	<md-card ng-repeat="idea in vm.ideas" class="idea-container-div" style="margin-top: 1rem;">
		<!-- <div class="col-xs-12 idea-header">
			<div class="col-xs-2 left-hdr">
				<span class="col-xs-1 owner-avatar"></span>
				<span class="owner-name">{{idea.ownerName}}</span>
			</div>
			<span class="col-xs-8 idea-title">{{idea.title}}</span>
			<div class="col-xs-2">
				<div class="idea-light">
				</div>
			</div>
		</div> -->
		<div class="idea-header">
		    <div class="avatar" style="background-image: url({{idea.avatarURL}});"></div>
		    <div class="idea-information">
				<div class="title">
			        {{idea.title}}
				</div>
				<div class="author"> {{idea.ownerName}}</div>
				<div class="create-date">{{idea.createDate}}</div>
				<div class="list-label">
			        <span class="label" ng-repeat="label in idea.labels">{{label}}</span>
				</div>
		    </div>
		</div>
		<div class="idea-description">
			{{idea.description}}
		</div>
		<div class="col-xs-12 idea-footer">
			<div class="idea-status">
				<md-button class="md-raised md-primary" ng-click="vm.viewDetail(idea)">Detail</md-button>
				<div class="vote vote-up">
					<i class="material-icons" ng-click="vm.thumpIdea(true, idea.id); $event.stopPropagation();">thumb_up</i>
	                <div class="vote-value" ng-click="$event.stopPropagation();">
	                  {{(idea.thumpUp>0)?('+' + idea.thumpUp):0}}
	                </div>
				</div>
				<div class="vote vote-down">
	                <i class="material-icons" ng-click="vm.thumpIdea(false, idea.id); $event.stopPropagation();">thumb_down</i>
	                <div class="vote-value" ng-click="$event.stopPropagation();">
	                  {{(idea.thumpDown>0)?('-' + idea.thumpDown):0}}
	                </div>
				</div>
			</div>
		</div>
	</md-card>
</div>


<div class="right-sidebar">
  <div class="ads" >
    <div class="ads-header" style="background-color: #29B6F6">
      Current event
    </div>
    <div class="ads-content" >
      <md-card>
        <img ng-src="../images/marvel.jpg" class="md-card-image" alt="Washed Out">
        <div class="event-title">NEW MARVEL ASIAN SUPERHERO</div>
        <md-card-content>
          <div class="event-date">
            <div>SEP</div>
            <div>05</div>
          </div>
          <div class="event-location">
            <span>08:00am in UTC</span><br>
            <span>Global</span>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
  <div class="ads" >
    <div class="ads-header">
      Incoming
    </div>
    <div class="ads-content" >
      <md-card>
        <img ng-src="../images/angelhack.jpg" class="md-card-image" alt="Washed Out">
        <div class="event-title">IDEAS FOR ANGELHACK</div>
        <md-card-content>
          <div class="event-date">
            <div>NOV</div>
            <div>09</div>
          </div>
          <div class="event-location">
            <span>08:00am in UTC+4</span><br>
            <span>Abu Dhabi, United Arab Emirates</span>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
  <div class="ads" >
    <div class="ads-header">
      Incoming
    </div>
    <div class="ads-content" >
      <md-card>
        <img ng-src="../images/pho.jpg" class="md-card-image" alt="Washed Out">
        <div class="event-title">VIETNAMESE RESTAURANT</div>
        <md-card-content>
          <div class="event-date">
            <div>DEC</div>
            <div>12</div>
          </div>
          <div class="event-location">
            <span>08:00am in UTC</span><br>
            <span>Global</span>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
