<div>

	<div class="landing bg-image row">
		<!-- left -->
		<div class="left col-md-4 col-lg-4">
			<div class="header-title col-md-12 col-lg-12 col-lg-offset-4">
				<span class="app-name">Inception</span>
			</div>
			<div class="big-buld-container col-md-12 col-lg-12" ng-class="bigBulpClass">
				<span class=""></span>
			</div>
		</div>
		<!-- right -->

		<div class="col-md-6 col-lg-6">
			<div class="buld-list  col-lg-12">
				<span class="buld-img buld1 col-lg-3"></span>
				<span class="buld-img buld2 col-lg-3"></span>
				<span class="buld-img buld3 col-lg-3"></span>
			</div>
			<div class="intro-text col-lg-5">
				<div>More than <span class="number-idea">555144 </span> ideas</div>
				<div>About all of domain</div>
				<div>From <span class="number-people">22656 </span> people</div>
			</div>
			<div class="col-lg-5 button-container">
				<button class="button-home" ng-click="explore()">Explore <md-icon md-font-library="material-icons">input</md-icon></button>
			</div>

		</div>

	</div>
	<!-- func introduction -->
	<div class="info-home row">
		<div class="col-lg-6 func">
			<div class="idea-icon-func col-lg-2" style="padding: 0px"></div>
			<div class="func-content col-lg-10">
				<div class="func-title">Idea</div>
				<div class="func-content">You can create new idea in any domain, any time, include crazy idea, but i will have more after short time</div>
			</div>

		</div>

		<div class="col-lg-6 func">
			<div class="contribute-icon-func col-lg-2"></div>
			<div class="func-content col-lg-10">
				<div class="func-title">Contribute</div>
				<div class="func-content">Everyone can see your idea, discuss, contribute for making it clearly and biger. In the last, you have full idea</div>
			</div>

		</div>

		<div class="col-lg-6 func" style="margin-top: 75px;">
			<div class="public-icon-func col-lg-2"></div>
			<div class="func-content col-lg-10">
				<div class="func-title">Public</div>
				<div class="func-content">First, your idea is public for everyone. Don't care about ownership, i have all right with your idea. When your idea is perfect, you can make it private and also pick the team implement it</div>
			</div>

		</div>

		<div class="col-lg-6 func" style="margin-top: 75px;">
			<div class="award-icon-func col-lg-2"></div>
			<div class="func-content col-lg-10">
				<div class="func-title">Award</div>
				<div class="func-content">Any user can get any award form us or out parner ( Google, Nestle, Intel, BMW, ...)</div>
			</div>

		</div>
	</div>

</div>
