<div class="row">

	<div class="landing bg-image row">
		<!-- left -->
		<div class="left col-md-4 col-lg-4">
			<div class="header-title col-md-12 col-lg-12 col-lg-offset-4">
				<span class="app-name">Inception</span> 
			</div>
			<div class="big-buld-container col-md-12 col-lg-12">
				<span class=""></span>
			</div>
		</div>
		<!-- right -->

		<div class="col-md-7 col-lg-7">
			<div class="buld-list  col-lg-12">
				<span class="buld-img buld1 col-lg-3"></span>
				<span class="buld-img buld2 col-lg-3"></span>
				<span class="buld-img buld3 col-lg-3"></span>
			</div>
			<div class="intro-text col-lg-5">
				<div>More than 55465144 ideas</div>
				<div>About all of domain</div>
				<div>From 222656 people</div>
			</div>
			<div class="col-lg-5 button-container">
				<button class="button-home">Explore</button>
			</div>

		</div>
	</div>
	<!-- func introduction -->
	<div class="info-home row">
		<div class="col-lg-4 func">
			<div class="idea-icon-func col-lg-1"></div>
			<div class="func-content col-lg-10">
				<div class="func-title col-lg-12">Idea</div>
				<div class="func-content col-lg-12">You can create idea, you can create idea, you can create idea, you can create idea, you can create idea</div>
			</div>
			
		</div>
	</div>

</div>
