
<div class="main-container">
  <div class="idea-header">
    <div class="avatar" style="background-image: url('../images/avatar/jsa.jpg');"></div>
    <div class="idea-information">
      <div class="title">
        This is a title
      </div>
      <div class="author">Hung Thai</div>
      <div class="create-date">20 Jun 2013, 20:17</div>
      <div class="list-label">
        <span class="label">Label 1</span>
        <span class="label">Label 2</span>
        <span class="label">Label 3</span>
      </div>
    </div>
  </div>
  <div class="add-category">
    <md-button class="md-fab md-primary add-category" aria-label="Use Android">
      <i class="material-icons">add</i>
    </md-button>
  </div>



  <div class="idea-content">
    <div class="category">
    <div class="category-header">
      Introduction
    </div>
    <div class="category-content">

      <v-accordion class="vAccordion--default section" multiple>
        <v-pane expanded class="section-body">
          <v-pane-header class="section-title" >
            <div class="vote">
              <i class="material-icons vote-up" ng-click="$event.stopPropagation();">arrow_drop_up</i>
              <i class="material-icons vote-down" ng-click="$event.stopPropagation();">arrow_drop_down</i>
            </div>
            <div class="vote-value" ng-click="$event.stopPropagation();">
              20
            </div>
            <div class="title" >
              The first step to expand over the world
            </div>

          </v-pane-header>

          <v-pane-content class="">
            <div class="comments">
              <div class="comment">
                <div class="comment-avatar">
                </div>
                <div class="comment-body">
                  <div class="author">
                    Dat Nguyen
                  </div>
                  <div class="comment-content">
                    Section comment 1
                  </div>
                </div>
              </div>
              <div class="comment">
                <div class="comment-avatar">
                </div>
                <div class="comment-body">
                  <div class="author">
                    Dat Nguyen
                  </div>
                  <div class="comment-content">
                    Section comment 1
                  </div>
                </div>
              </div>
            </div>

            <div class="new-comment">
              <md-input-container>
                <label>New comment</label>
                <i class="material-icons">send</i>
                <input ng-model="user.title">
              </md-input-container>
            </div>
          </v-pane-content>
        </v-pane>

        <v-pane  class="section-body">
          <v-pane-header class="section-title" >
            <div class="vote">
              <i class="material-icons vote-up" ng-click="$event.stopPropagation();">arrow_drop_up</i>
              <i class="material-icons vote-down" ng-click="$event.stopPropagation();">arrow_drop_down</i>
            </div>
            <div class="vote-value" ng-click="$event.stopPropagation();">
              20
            </div>
            <div class="title" >
              The first step to expand over the world
            </div>

          </v-pane-header>

          <v-pane-content class="">
            <div class="comments">
              <div class="comment">
                <div class="comment-avatar">
                </div>
                <div class="comment-body">
                  <div class="author">
                    Dat Nguyen
                  </div>
                  <div class="comment-content">
                    Section comment 1
                  </div>
                </div>
              </div>
              <div class="comment">
                <div class="comment-avatar">
                </div>
                <div class="comment-body">
                  <div class="author">
                    Dat Nguyen
                  </div>
                  <div class="comment-content">
                    Section comment 1
                  </div>
                </div>
              </div>
            </div>

            <div class="new-comment">
              <md-input-container>
                <label>New comment</label>
                <i class="material-icons">send</i>
                <input ng-model="user.title">
              </md-input-container>
            </div>
          </v-pane-content>
        </v-pane>

        <v-pane  class="section-body">
          <v-pane-header class="section-title" >
            <div class="vote">
              <i class="material-icons vote-up" ng-click="$event.stopPropagation();">arrow_drop_up</i>
              <i class="material-icons vote-down" ng-click="$event.stopPropagation();">arrow_drop_down</i>
            </div>
            <div class="vote-value" ng-click="$event.stopPropagation();">
              20
            </div>
            <div class="title" >
              The first step to expand over the world
            </div>

          </v-pane-header>

          <v-pane-content class="">
            <div class="comments">
              <div class="comment">
                <div class="comment-avatar">
                </div>
                <div class="comment-body">
                  <div class="author">
                    Dat Nguyen
                  </div>
                  <div class="comment-content">
                    Section comment 1
                  </div>
                </div>
              </div>
              <div class="comment">
                <div class="comment-avatar">
                </div>
                <div class="comment-body">
                  <div class="author">
                    Dat Nguyen
                  </div>
                  <div class="comment-content">
                    Section comment 1
                  </div>
                </div>
              </div>
            </div>

            <div class="new-comment">
              <md-input-container>
                <label>New comment</label>
                <i class="material-icons">send</i>
                <input ng-model="user.title">
              </md-input-container>
            </div>
          </v-pane-content>
        </v-pane>

        <v-pane  class="section-body">
          <v-pane-header class="section-title" >
            <div class="vote">
              <i class="material-icons vote-up" ng-click="$event.stopPropagation();">arrow_drop_up</i>
              <i class="material-icons vote-down" ng-click="$event.stopPropagation();">arrow_drop_down</i>
            </div>
            <div class="vote-value" ng-click="$event.stopPropagation();">
              20
            </div>
            <div class="title" >
              The first step to expand over the world
            </div>

          </v-pane-header>

          <v-pane-content class="">
            <div class="comments">
              <div class="comment">
                <div class="comment-avatar">
                </div>
                <div class="comment-body">
                  <div class="author">
                    Dat Nguyen
                  </div>
                  <div class="comment-content">
                    Section comment 1
                  </div>
                </div>
              </div>
              <div class="comment">
                <div class="comment-avatar">
                </div>
                <div class="comment-body">
                  <div class="author">
                    Dat Nguyen
                  </div>
                  <div class="comment-content">
                    Section comment 1
                  </div>
                </div>
              </div>
            </div>

            <div class="new-comment">
              <md-input-container>
                <label>New comment</label>
                <i class="material-icons">send</i>
                <input ng-model="user.title">
              </md-input-container>
            </div>
          </v-pane-content>
        </v-pane>
      </v-accordion>
      </div>
  </div>


    <div class="category">
      <div class="category-header">
        Introduction
      </div>
      <div class="category-content">
        <div class="section">
          <div class="section-info">
            <!-- Vote up & down -->
            12
          </div>
          <div class="section-body">
            <div class="section-title">
              The first step to expand over the world
            </div>
            <div class="comments">
              <div class="comment">
                <div class="comment-avatar">
                </div>
                <div class="comment-body">
                  <div class="author">
                    Dat Nguyen
                  </div>
                  <div class="comment-content">
                    Section comment 1
                  </div>
                </div>
              </div>
              <div class="comment">
                <div class="comment-avatar">
                </div>
                <div class="comment-body">
                  <div class="author">
                    Dat Nguyen
                  </div>
                  <div class="comment-content">
                    Section comment 1
                  </div>
                </div>
              </div>
            </div>

            <div class="new-comment">
              <div class="new-input">
                <input type="text">
              </div>
              <button>SEND</button>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="section-info">
            <!-- Vote up & down -->
            12
          </div>
          <div class="section-body">
            <div class="section-title">
              The first step to expand over the world
            </div>
          </div>
        </div>
        <div class="section">
          <div class="section-info">
            <!-- Vote up & down -->
            12
          </div>
          <div class="section-body">
            <div class="section-title">
              The first step to expand over the world
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
