<!-- <div class="menu">
  <div class="btn btn-default" ng-click="new()">New</div>
  <div class="btn btn-default loadFile">
    <span>Load</span>
    <input id="uploadFile" name="uploadFile" type="file" change-file="load">
  </div>

  <div class="downloadWrap">
    <input class="fileName" type="text" ng-model="fileName">
    <div class="btn btn-default" ng-click="save()">Save</div>
    <div id="downloadLinkWrap"></div>
  </div>

</div> -->
<!-- <md-dialog class="dialog-add-category">
  <div class="mindMap" mind-map="root" style="width:800px;height:800px"></div>
</md-dialog> -->

<!-- <div class="modal-header">
  <h3 class="modal-title">Mindmap Editor</h3>
</div>
<div class="modal-body">
  <div class="mindMap" mind-map="root" style="width:800px;height:800px"></div>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div> -->




<div class="modal fade" id="mind-map-modal" role="dialog"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog dialog-fullwidth">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">Mindmap Editor</h4>
            </div>
            <div class="modal-body container-fluid  ">
              <div class="mindMap" mind-map="root" style="width:800px;height:800px"></div>
            </div>
            <div class="modal-footer">
                <button type="button" style="display:none">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
