<!-- <div class="menu">
  <div class="btn btn-default" ng-click="new()">New</div>
  <div class="btn btn-default loadFile">
    <span>Load</span>
    <input id="uploadFile" name="uploadFile" type="file" change-file="load">
  </div>

  <div class="downloadWrap">
    <input class="fileName" type="text" ng-model="fileName">
    <div class="btn btn-default" ng-click="save()">Save</div>
    <div id="downloadLinkWrap"></div>
  </div>

</div> -->
<div class="mindMap" mind-map="root" style="width:800px;height:800px"></div>
